<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/continentStyle.css">
    <title>Asia</title>
</head>


<body>
    <div class="jumbotron">
        <div class="nav-container">
            <div class="navegacion">
                <a href="/index.html" class="buttonHeader">
                    <span class="button__text">Inicio</span>
                </a>
                <a href="europa.html" class="buttonHeader">
                    <span class="button__text">Europa</span>
                </a>
                <a href="africa.html" class="buttonHeader">
                    <span class="button__text">Africa</span>
                </a>
                <a href="america.html" class="buttonHeader">
                    <span class="button__text">America</span>
                </a>
                <a href="oceania.html" class="buttonHeader">
                    <span class="button__text">Oceania</span>
                </a>
            </div>
        </div>
        <div class="header">
            <div class="header-container">
                <div class="logo">
                    <img src="/img/logo.png" alt="logo">
                </div>
                <div class="header__text">
                    <h1 class="header__title">Asia</h1>
                    <h3>Algunos lugares en Asia que quizas no conocias!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar1</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar2</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar3</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar4</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar5</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar6</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="/img/asia2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar7</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="#">Blog</a>
                <a href="#">Politica de privacidad</a>
                <a href="#">Terminos de soporte</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contacto</h2>
                <a href="#">Soporte</a>
                <a href="#">Sponsors</a>
                <a href="/views/contacts.html">Contacto</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="#">Instagram</a>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
            </div>
        </div>
    </div>
</body>

</html>