<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/styleContactos.css">
    <link rel="stylesheet" href="/assets/CSS/style.css">
    <title>Contactos</title>
</head>

<body>
    <div class="jumbotron">
        <div class="nav-container">
            <div class="navegacion">
                <a href="/index.html" class="buttonHeader">
                    <span class="button-text">Inicio</span>
                </a>
                <a href="europa.html" class="buttonHeader">
                    <span class="button-text">Europa</span>
                </a>
                <a href="africa.html" class="buttonHeader">
                    <span class="button-text">Africa</span>
                </a>
                <a href="asia.html" class="buttonHeader">
                    <span class="button-text">Asia
                    </span>
                </a>
                <a href="america.html" class="buttonHeader">
                    <span class="button-text">America</span>
                </a>
                <a href="oceania.html" class="buttonHeader">
                    <span class="button-text">Oceania</span>
                </a>
            </div>
        </div>
        <div class="contacts-header">
            <div class="contacts-text">
                <h1>Contacto</h1>
                <h2>Si conoces algun otro lugar interesante contanos!</h2>
            </div>
        </div>
    </div>

    <div class="wrapper">
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Nombre">
                <input type="text" class="input" placeholder="Email">
                <input type="text" class="input" placeholder="Continente">
            </div>
            <div class="msg">
                <textarea placeholder="Mensaje"></textarea>
                <div class="btn">Enviar</div>
            </div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-heading footer-1">
                <h2>About Us</h2>
                <a href="/views/privacy.html">Politica de privacidad</a>
            </div>
            <div class="footer-heading footer-2">
                <h2>Contacto</h2>
                <a href="/views/contacts.html">Contacto</a>
            </div>
            <div class="footer-heading footer-3">
                <h2>Social Media</h2>
                <a href="https://www.instagram.com/nico_tim1/?hl=es">Instagram</a>
                <a href="https://www.facebook.com/nico.tim.5/">Facebook</a>
            </div>
        </div>
</body>

</html>