<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/styleContactos.css">
    <title>Contactos</title>
</head>

<body>
    <div class="jumbotron">
        <div class="nav-container">
            <div class="navegacion">
                <a href="/index.html" class="buttonHeader">
                    <span class="button__text">Inicio</span>
                </a>
                <a href="africa.html" class="buttonHeader">
                    <span class="button__text">Africa</span>
                </a>
                <a href="asia.html" class="buttonHeader">
                    <span class="button__text">Asia
                    </span>
                </a>
                <a href="america.html" class="buttonHeader">
                    <span class="button__text">America</span>
                </a>
                <a href="oceania.html" class="buttonHeader">
                    <span class="button__text">Oceania</span>
                </a>
            </div>
        </div>
        <div class="contacts-text">
            <h1>Contacto</h1>
            <h2>Si conoces algun otro lugar interesante contanos!</h2>
        </div>
    </div>

    <div class="wrapper">
        <div class="contact-form">
            <div class="input-fields">
                <input type="text" class="input" placeholder="Nombre">
                <input type="text" class="input" placeholder="Email">
                <input type="text" class="input" placeholder="Continente">
            </div>
            <div class="msg">
                <textarea placeholder="Mensaje"></textarea>
                <div class="btn">Enviar</div>
            </div>
        </div>
    </div>
</body>

</html>