<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/CSS/stylesPaises.css">
    <title>Oceania</title>
</head>


<body>
    <div class="navegacion">

        <a href="/index.html" class="buttonHeader">
            <span class="button__text">Inicio</span>
        </a>
        <a href="europa.html" class="buttonHeader">
            <span class="button__text">Europa</span>
        </a>
        <a href="asia.html" class="buttonHeader">
            <span class="button__text">Asia
                        </span>
        </a>
        <a href="africa.html" class="buttonHeader">
            <span class="button__text">Africa</span>
        </a>
        <a href="america.html" class="buttonHeader">
            <span class="button__text">America</span>
        </a>
    </div>
    <div class="header">
        <div class="header__text">
            <h1 class="header__title">Oceania</h1>
            <h3>Algunos lugares en Oceania que quizas no conocias!</h3>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar1</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>
            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar2</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar3</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar4</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar5</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar6</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>


            </div>
        </div>
    </div>
    <div class="contenedor">
        <div class="card">
            <img src="imagenes/oceania2.jpg" alt="Lugar de la imagen" class="card__img">

            <div class="card__text">
                <h2 class="card__title">Lugar7</h2>
                <p class="card__pharagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum id exercitationem sint velit alias dolore quasi, quam perferendis, adipisci rem tempora dolor quo. Repudiandae cumque eum provident inventore? Est, nobis.</p>
            </div>
        </div>
    </div>
    <footer class="border">
        <h1>Referencias!</h1>
        <a href="#">Link1</a>
        <a href="#">Link2</a>
        <a href="#">Link3</a>
        <a href="#">Link4</a>
    </footer>
</body>

</html>