/* Operadores */

$standard-em: 1em;
$standard-width: 100%;
$standard-pixels: 10px;

/* Colores */

$blanco: white;
$negro: black;
$celeste: #2394FC;

/* Extenciones */

%display-content {
    display: flex;
    justify-content: center;
}

%border {
    margin-left: 5%;
    border-radius: 1em;
    padding: 2em;
    position: relative;
}

%text {
    text-align: center;
}

%border-radius {
    border-radius: 1em;
}

%display {
    display: flex;
}

%margin {
    margin: 1%;
}

%button {
    font-size: $standard-em;
    border-radius: 12px;
    padding: 10px 24px;
    background-color: $blanco;
    color: $negro;
    transition-duration: 0.4s;
    border: 2px solid $celeste;
    &:hover {
        background-color: $celeste;
    }
}

%font-style {
    font-style: italic;
}

$width: 50%;
%contacts-data {
    margin: 15px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $blanco;
    padding: 15px;
    color: $negro;
    width: 100%;
}