@import "extenciones";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    @extend %font-style;
}

body {
    background-color: #BFBBBA;
}

.jumbotron {
    padding: 10px;
    position: relative;
}

.nav-container {
    text-align: center;
    @extend %display-content;
}

.navegacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.buttonHeader {
    font-size: $standard-em * 1.2;
    @extend %button;
    @extend %font-style;
}


/* Header */

.header {
    width: 100%;
    padding: 0 1%;
}

.header-container {
    max-width: 1100px;
    padding: 1.5%;
    border-radius: 5px;
    display: flex;
    margin: 2% auto;
}

.header__text {
    font-size: $standard-em * 1.5;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    color: #0D0D0D;
    @extend %text;
}

.logo {
    max-width: 200px;
    width: 100%;
    height: 25vh;
    margin-right: 2%;
    overflow: hidden;
}

.privacy-policy {
    width: 90%;
    padding: 0 2%;
}


/* Footer */

.footer-container {
    background-color: #0D0D0D;
    padding: 3em 0 3em 0;
    margin: 30px 0 0 0;
}

.footer {
    width: 100%;
    height: 30vh;
    background-color: #0D0D0D;
    color: $blanco;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: $standard-em * 3;
}

.footer-heading h2 {
    margin-bottom: 2em;
    color: #F2E529;
}

.footer-heading a {
    font-size: $standard-em * 1.2;
    color: $blanco;
    text-decoration: underline;
    margin-bottom: $standard-em * 0.5;
    &:hover {
        color: #F2E529;
        transition: 0.4;
    }
    @extend %font-style;
}

@media screen and (max-width: 449.99px) {
    .header {
        justify-content: center;
    }
    .header__text {
        font-size: $standard-em * 0.9;
    }
    .logo {
        display: none;
    }
    .footer {
        height: 35vh;
        flex-direction: column;
        font-size: $standard-em * 0.7;
    }
    .privacy-policy {
        font-size: $standard-em * 0.8;
    }
}

@media (min-width:450px) and (max-width: 575.98px) {
    .header {
        justify-content: center;
    }
    .header__text {
        font-size: $standard-em * 0.9;
    }
    .header-container {
        padding: 10px;
        margin-bottom: 5%;
    }
    .logo {
        display: none;
    }
    .header__text {
        font-size: $standard-em * 1.2;
    }
    .footer {
        height: 25vh;
        font-size: $standard-em * 0.8;
        flex-direction: column;
    }
    .privacy-policy {
        font-size: $standard-em * 0.9;
    }
}

@media(min-width:575.99px) and (max-width: 949.98px) {
    .header {
        flex-direction: row;
        display: flex;
    }
    .header-container {
        padding: 10px;
    }
    .header__text {
        font-size: $standard-em * 1.2;
    }
    .logo {
        margin: auto;
    }
    .footer {
        height: 35vh;
        flex-direction: column;
        font-size: $standard-em * 0.9;
    }
}