@import "extenciones";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    @extend %font-style;
}

body {
    background-color: #E6E08C;
}

.jumbotron {
    padding: 10px;
    position: relative;
}

.nav-container {
    text-align: center;
    @extend %display-content;
}

.navegacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.buttonHeader {
    font-size: $standard-em * 1.2;
    @extend %button;
    @extend %font-style;
}

.contacts-header {
    justify-content: center;
    display: flex;
    margin: 2% auto;
}

.contacts-text {
    @extend %text;
}

.wrapper {
    display: flex;
    width: 100%;
    padding: 0 10px;
    margin: 20px 20px 20px 20px;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background-color: #AEF092;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px #AEF092;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: $width;
    @extend %contacts-data;
}

.msg {
    width: $width;
    @extend %contacts-data;
}

.input {
    @extend %contacts-data;
}

textarea {
    height: 300px;
    @extend %contacts-data;
}

.btn {
    background: #AEF092;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}