@import "extenciones";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    @extend %font-style;
}

body {
    background-color: #BFBBBA;
}

.jumbotron {
    padding: 10px;
    position: relative;
}

.nav-container {
    text-align: center;
    @extend %display-content;
}

.navegacion {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.buttonHeader {
    font-size: $standard-em * 1.2;
    @extend %button;
    @extend %font-style;
}

.contacts-header {
    justify-content: center;
    display: flex;
    margin: 2% auto;
}

.contacts-text {
    @extend %text;
}

.wrapper {
    display: flex;
    width: 100%;
    padding: 0 10px;
    margin: 1% 1% 1% 1%;
}

.contact-form {
    max-width: 550px;
    margin: 0 auto;
    background-color: #D9CC1E;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px #BFB417;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 5%;
    width: $width;
    @extend %contacts-data;
}

.msg {
    width: $width;
    @extend %contacts-data;
}

.input {
    @extend %contacts-data;
}

textarea {
    height: 300px;
    @extend %contacts-data;
}

.btn {
    background: #BFBBBA;
    text-align: center;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 449.99px) {
    .wrapper {
        width: 94%;
        margin: 3%;
    }
    .nav-container {
        flex-direction: column;
        width: 96%;
        margin: 2%;
    }
    .button-text {
        font-size: $standard-em * 0.8;
    }
    .contacts-header {
        font-size: $standard-em * 0.8;
    }
}

@media (min-width:450px) and (max-width: 575.98px) {
    .wrapper {
        width: 96%;
        margin: 2% 2%;
    }
    .nav-container {
        flex-direction: column;
        width: 98%;
        margin: 1% 1%;
    }
    .button-text {
        font-size: $standard-em * 0.9;
    }
    .contacts-header {
        font-size: $standard-em * 0.9;
    }
}

@media(min-width:575.99px) and (max-width: 949.98px) {
    .wrapper {
        width: 98%;
        margin: 1% 1%;
    }
}