/* Operadores */
/* Colores */
/* Extenciones */
form, .contenedor, .header, .nav-container {
  display: flex;
  justify-content: center;
}

.header__text {
  text-align: center;
}

.card__img, .card, .contenedor > div {
  border-radius: 1em;
}

.card__img, .card, .contenedor > div, .border {
  display: flex;
}

.card__title, .card__text, .card__img {
  margin: 1%;
}

.button, .buttonHeader {
  font-size: 1em;
  border-radius: 12px;
  padding: 10px 24px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
  border: 2px solid #2394FC;
}
.button:hover, .buttonHeader:hover {
  background-color: #2394FC;
}

.footer-heading a, .card__text, .header__text, .buttonHeader {
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border {
  border: 1px solid black;
  display: flex;
  margin-top: 20px;
}

body {
  background-color: #D0F9CC;
}

.jumbotron {
  background-color: #9ef0f4;
  padding: 1em;
}

/* Navegacion */
.nav-container {
  text-align: center;
}

.navegacion {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.buttonHeader {
  font-size: 1.2em;
}

/* Header */
.header {
  flex-wrap: wrap;
}

.header > div {
  margin-left: 2%;
  border-radius: 1em;
  padding: 1em;
  position: relative;
}

.header__text {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 4%;
}

.logo {
  width: 20%;
  height: 35vh;
  overflow: hidden;
}

/*Style de las cajas de Continentes */
.contenedor {
  flex-wrap: wrap;
}

.contenedor > div {
  width: 80%;
  height: 50vh;
  margin: 2%;
  background-image: linear-gradient(to left, white, #3EFAB5);
}

.card {
  height: auto;
  padding: 1em;
  position: relative;
}

.card__img {
  width: 20%;
  height: 40vh;
  overflow: hidden;
}

.card__text {
  text-align: center;
  font-size: 1em;
}

.card__title {
  font-size: 2em;
  font-weight: bold;
}

.card__pharagraph {
  line-height: 5vh;
  margin-bottom: 5%;
  font-size: 1.2em;
  font-weight: normal;
}

.button {
  display: inline-block;
  position: relative;
}

.button__text {
  font-weight: 600;
  font-size: 1em;
}

/* Contacts */
#contactos {
  width: 50%;
  margin: auto;
  text-align: center;
}

form {
  width: fit-content;
  margin: auto;
  flex-wrap: wrap;
  margin: 2em;
  padding: 1em;
  border-radius: 1em;
  background-image: linear-gradient(to left, #f2f2f2, #3EFAB5);
  flex-direction: column;
  max-width: max-content;
}

fieldset {
  border: 0;
}

/*Propiedades del input "Nombre y apellido" */
input[type=text] {
  width: 40%;
  padding: 5px 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type=text]:focus {
  background-color: lightblue;
}

/*Propiedades del input "Email" */
input[type=email] {
  width: 40%;
  padding: 5px 10px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

input[type=email]:focus {
  background-color: lightblue;
}

/* Propiedades de la seleccion de continente */
select {
  min-width: 100px;
  width: 20%;
  padding: 12px 14px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* Propiedades del input sobre lugares interesantes */
textarea {
  width: 60%;
  height: 150px;
  margin: 10px;
  padding: 10px 15px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

/* Propiedades de los botones de "Enviar y Limpiar" */
input[type=submit],
input[type=reset] {
  min-width: 80px;
  width: 20%;
  margin: 10px;
  background-color: #2394FC;
  border: none;
  color: white;
  padding: 1em;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Footer */
.footer-container {
  background-color: #333333;
  padding: 3em 0 3em 0;
}

.footer {
  width: 80%;
  height: 35vh;
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 3em;
}

.footer-heading h2 {
  margin-bottom: 2em;
  color: #2394FC;
}

.footer-heading a {
  font-size: 1.2em;
  color: white;
  text-decoration: underline;
  margin-bottom: 0.5em;
}
.footer-heading a:hover {
  color: #2394FC;
  transition: 0.4;
}

/* Media query */
@media screen and (max-width: 575.98px) {
  .contenedor > div {
    flex-direction: column;
    width: fit-content;
    margin: 1em;
    padding: initial;
  }

  .navegacion {
    flex-direction: column;
  }

  .card__img {
    max-width: 3000%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-3 {
    height: 50vh;
    display: none;
  }
}
@media (min-width: 575.99px) and (max-width: 949.98px) {
  .contenedor > div {
    flex-direction: column;
    width: fit-content;
    margin: 5%;
    padding: 3em;
  }

  .navegacion {
    flex-direction: column;
  }

  .card__img {
    min-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    height: 35vh;
    flex-direction: column;
  }
}
@media screen and (min-width: 949.99px) {
  .contenedor > div {
    width: fit-content;
    margin-top: 10px;
  }

  .card__img {
    min-width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
